*{
    margin: 0;
    /* transition:0.4s; */
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(30,30,30);
    text-align: center;
    vertical-align: center;
    border-bottom: 2px solid rgb(170,120,240);
  
}

header nav{
    margin-right: 35px;
}

header nav a {
    margin: 0 5px 0 5px;
    color:rgb(170,120,240);
    text-decoration: none;
}

header nav a:hover{
    color:rgba(170,120,240,0.8);
    transition: 0.2s;
}


.logo{
    margin-top: -4px;
    color:rgb(170,120,240);
    user-select: none;
}

.quem_sou_eu{
    border-bottom: 2px solid rgb(170,120,240);;
    padding: 25px;
    justify-content: center;
    text-align: center;
    /* background-color: #745db0; */
    background-image: url("../Imagens/Fundo.png");
    background-size: cover;
    background-attachment: fixed;
}

.quem_sou_eu div h2{
    color: white;
    font-size: 35px;
}

.quem_sou_eu div p{
    margin: 10px 0 0 0;
    font-size: 20px;
    color: white;
}

.desc{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
}

.redes{
    display:flex;   
    font-size: 15px; 
    color: white;
    justify-content: center;
    margin: 10px 0 0 0;
}

.rede{
    margin:15px 20px 0 20px;
}
.foto_minha{
    height: 20%;
    width: 20%;
    margin-left: 5px;
}

main{
    background-image: linear-gradient(rgb(30,30,30), rgb(50,50,50));
}

.sobre_mim{
    color:rgb(170,120,240);
    padding:25px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.sobre_mim h3{
    font-size: 22px;
    margin:  0 0 10px 0;
    text-align: center;
}

.hobbies {
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 7%;
}

.hobbie{
    user-select: none;
    background-color: rgba(56,40,75,0.9);
    border-radius: 5px;
}

.hobbie img{
    height:35px;
    margin: 20px 30px 5px 30px;
}

.hobbie p{
    text-align: center;
    margin-bottom: 15px;
}

.formacoes{
    color: rgb(170,120,240);
}

.formacoes h3{
    font-size: 22px;
    text-align: center;
}

.geralformacao{
    display:flex;
    justify-content: center;
    padding: 20px;
}

.formacao img{    
    background-color: rgb(56,40,75,0.9);
    box-shadow: 2px 2px 10px black;
    border-radius: 5px;
    height: 180px;
}

.formacao p{
    font-size: 18px;
}

.formacao{
    margin: 20px 20px 0 20px;
}

.experiencia{
    color: rgb(170,120,240);
    text-align: center;
}

.experiencia h3{
    padding: 10px;
    font-size: 22px;
}

.codificador{
    margin: 30px 0 0 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.codificador img{
    user-select: none;
    height: 300px;
    border-radius: 10px;
    border: 1px solid;
}

.divcodificador{
    text-align: left;
    margin: 0 0 0 30px;
}

.codificador div button{
    background-color: rgba(170,120,240,0.7);
    padding: 15px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 1px solid rgb(170,120,240);
}

#repositorio{
    background-color: rgb(30,30,30);
    color: rgb(170,120,240);
    border: 1px solid rgb(170,120,240);
}

#repositorio:hover{
    background-color: rgb(25,25,25);
}

.codificador div button:hover{
    background-color: rgba(170,120,240,0.5);
    transition: 0.2s;
}

.divforca{
    text-align: right;
    margin: 0 30px 0 0px;
}

.challenges{
    margin: 10px 0 0 0;
}

.challengesegundo{
    margin: 30px 0 0 0;
}

main footer{
    margin-top: 40px;
    color: rgb(170,120,240);
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: rgb(30,30,30);
    border-top: 1px solid rgb(170,120,240);
    border-bottom: 1px solid rgb(170,120,240);    
}

.contato{
    color: rgb(170,120,240);
    /* justify-content: center; */
    /* text-align: center; */
    margin: 50px 0 0 20px;
}
